* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-color: #F9F9F9;
    display: flex;
}

.loginContainer {
    width: 320px;
    height: 600px;
    margin-top: 49px;
    margin-left: 180px;
    background-color: #FFFFFF;
}

.loginContainer a {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin-left: 40px;
}

.inputContainer {
    margin-top: 35px;
    margin-left: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
}

.inputContainer text {
    font-size: 15px;
    font-weight: 600;
}

.linhaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.linhaContainer text {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

.linhaContainer hr {
    color: #909090;
}

.backgroundImage {
    height: 444px;
    width: 860px;
    margin-top: 10rem;
    margin-left: 8rem;
}

.logo {
    width: 160px;
    margin-top: 52px;
    margin-left: 43px;
}

.input {
    width: 250px;
    height: 40px;
    margin-top: 7px;
    padding: 15px;
    padding-right: 38px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

.input ::placeholder {
    color: #9B9B9B;
}

.btCadastro {
    width: 250px;
    height: 43px;
    margin-left: 39px;
    margin-top: 10px;
    background-image: linear-gradient(134.72deg, #AE23A9 0%, #DC4E1B 100%);
    border: none;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
}


.footer {
    margin-top: 15px;
}

.footer a {
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #4A4A4A;
    letter-spacing: 0.5px;
}
