.cardContainer {
    width: 290px;
    height: 290px;
    background-size: 100%;
    box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.1);
    margin-right: 35px;
}

.cardContainer p {
    z-index: 2;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 234px;
    padding-left: 20px;
}